footer {
    width: 100%;
    background: #789395;
    color: #fff;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}
footer p {
    font-family: Bold;
    letter-spacing: 1px;
}
footer .social-media > * {
    font-size: 1.5rem;
    margin-left: 2rem;
    color: #fff;
}