@font-face {
  font-family: Regular;
  src: url('fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: Bold;
  src: url('fonts/Poppins-Bold.ttf');
}
* {
  font-family: Regular;
  box-sizing: border-box;
}
.App > .container {
  padding: 70px 0;
}
.pyhsics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
.pImg {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}